h1 {font-size: 7em;
   font-family:'monospace';
   margin-left: auto;
}

h2 {font-size: 1em;
    font-family:'Segoe UI';
 }

 h3 {font-size: 1em;
    font-family:'Segoe UI';
 }

 h4 {font-size: 1em;
    font-family:'Segoe UI';
 }

 h5 {font-size: 1em;
    font-family:'Segoe UI';
 }

.Headline-Of-AEC {color: brown;}